page-myshops {
 ion-title div.toolbar-title {
 	text-align: center;
 }
.signinname {
	color: white;
 }

 ion-item{
 	.label {
 		margin: 0;
 	}
 }
.shopHead {
.item-inner {
		padding:0 !important
	}
}
}

