// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: blueviolet;
}

.toolbar-title {
	color: white;
	text-align: left;
}

.label {
	text-align: left;
}



.bar-button-default {
	color: white;
}

.foo{
height: 30px !important;
}

page-login{
	.scroll-content {
		padding-bottom: 0 !important;
		display: flex;
		ion-row {
			width: 100%;
			align-items: center;
			opacity: 0.7;
		}
	}

}

page-home {
 
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }
 
}

page-transaction {
	.spinner-container {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
}

.fab-button {
	font-family: 'Comic Neue', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5;

}

.titlealignleft {
		float: left;
}

.titlealignright {
		float: right;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 5px 12px 12px rgba(0,0,0,0.24);
  }