<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Offers</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only (click)="popoverClicked($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-card *ngFor="let card of cards;" style="background-color: red;border-radius: 10px 10px 0px 0px;">
    <!--<ion-item no-padding style="border-bottom: 1px solid green;">-->
    <ion-card-content no-padding>
    <ion-item style="border-bottom: 1px solid grey;">
      <img [src]="card.imageUrl" (click)="cardTapped(card)" />
      <h2 class="card-title">
        {{card.title}}
      </h2>
      <p>Contact : {{card.Contact}}</p>
      <div *ngIf="card.MyOfferTitle?.length > 0"  no-padding>
        <ion-item no-padding>Offer - {{card.MyOfferTitle}}</ion-item>
        <ion-item no-padding>Offer Points - {{(card.MyOfferPoints.length>0 ? card.MyOfferPoints : 'Info not available ')}}</ion-item>
        <ion-item no-padding>Offer Start Date - {{card.MyOfferStartDate}}</ion-item>
        <ion-item no-padding>Offer Start Date - {{card.MyOfferEndDate}}</ion-item>
      </div>
    </ion-item>
    <ion-item no-padding style="border-bottom: 1px solid grey;">
      <div style="display: flex;  justify-content: center;">
        <button ion-button icon-left (click)="newPurchase(card)">Purchase</button>
      </div>
    </ion-item>
    <ion-item (click)="totPurchaseTapped(card)">
        Total Purchase
        <ion-badge item-end>{{card.TotalPurchase}}</ion-badge>
    </ion-item>
    <ion-item (click)="followersTapped(card)">
        Minimum Points Redeem <ion-badge item-end>{{card.MinPointsRedeem}}</ion-badge>
    </ion-item>
    <ion-item (click)="albumsTapped(card)">
        Points Collected <ion-badge item-end>{{card.PointsCollected}}</ion-badge>
    </ion-item>
    <ion-item (click)="followersTapped(card)">
        Points Short <ion-badge item-end>{{card.PointsRedeemDiff}}</ion-badge>
    </ion-item>
    <ion-item (click)="followersTapped(card)">
        Shop Distance 
        <ion-badge item-end>{{card.ShopDistance}}</ion-badge>
    </ion-item>
  </ion-card-content>
  </ion-card>
</ion-item>
</ion-content>
